/* 
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
} */
/* Make all sections span full width */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent unwanted horizontal scroll */
}
